body {
   background-color: #fff;
   color: #212121;
   
   font-family: 'Roboto', sans-serif;
   letter-spacing: -0.02em;
}

.list {
   list-style: none;
}

/* logo */

.logo {
   color:#212121;
   font-family: 'Raleway', cursive;
   font-size: 26px;
   line-height: 1.19;
   text-decoration: none;
}

.logo:hover {
   color:#2196F3;
}

.site-nav .link {
   color:#212121;

   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
   color: #2196F3;
}

.site-nav .link.current {
   color: #2196F3;
}

.contact .link {
   color: #757575;
   text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
   color: #2196F3;
}

.main {
   background-color: #2F303A;
}

.main-title {
   color: #FFFFFF;
   font-family: Roboto;
   
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
}

.section-title {
   color:#212121;
   font-weight: 900;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   letter-spacing: 0.03em;
   }

.feature-list .title {
   color:#212121;
   font-family: Roboto;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.03em;
}


.feature-list .link {
   color: #757575;
   font-size: 14px;
   line-height: 1.71;
}

/* dream */

.dream-link {
   font-size: 16px;
   line-height: 1.18;
}

/* Button */

.button {
   color: #FFFFFF;
   background: #2196F3;
   cursor: pointer;
}

.button.primary {
   color:#fff;
   background-color: #2196F3;
   cursor: pointer;
}

/* footer */

.logo-footer {
   color:#fff;
   font-family: 'Raleway', cursive;
   font-size: 26px;
   line-height: 1.19;
   text-decoration: none;
}

/* address */
.address {
   color:#FFFFFF;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}

/*button portfolio */

.button-portfolio .link {
   color:  #212121;
   background-color: #F5F4FA;
   cursor: pointer;
   text-decoration: none;
   font-family: Roboto;
  
}

.button-portfolio:hover,
.button-portfolio:focus {
   background-color: #2196F3;
   color:#fff;
   cursor: pointer;
}

/* portfolio list */
.port-title {
   color: #212121;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}

.port-link {
   color:#757575;
   font-size: 16px;
   line-height: 1,87;
   letter-spacing: 0.03em;
}

.port-list {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
}